:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 54 47 105;
  --oui-color-primary-light: 87 78 149;
  --oui-color-primary-darken: 31 26 74;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 87 78 149;
  --oui-color-link-light: 126 112 183;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 73 122;
  --oui-color-danger-light: 250 144 173;
  --oui-color-danger-darken: 222 56 104;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 23 183 138;
  --oui-color-success-light: 83 217 163;
  --oui-color-success-darken: 0 137 93;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 183 77;
  --oui-color-warning-light: 255 217 123;
  --oui-color-warning-darken: 255 140 31;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 30 27 42;
  --oui-color-fill-active: 38 35 52;

  --oui-color-base-1: 75 67 102;
  --oui-color-base-2: 62 55 85;
  --oui-color-base-3: 51 46 66;
  --oui-color-base-4: 42 38 56;
  --oui-color-base-5: 36 32 47;
  --oui-color-base-6: 29 26 38;
  --oui-color-base-7: 67 59 90;
  --oui-color-base-8: 22 20 28;
  --oui-color-base-9: 17 15 23;
  --oui-color-base-10: 10 9 15;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 73 122;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 23 183 138;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 40 35 73;
  --oui-gradient-primary-end: 87 78 149;

  --oui-gradient-secondary-start: 54 47 84;
  --oui-gradient-secondary-end: 74 65 114;

  --oui-gradient-success-start: 12 142 107;
  --oui-gradient-success-end: 23 183 138;

  --oui-gradient-danger-start: 173 37 67;
  --oui-gradient-danger-end: 237 73 122;

  --oui-gradient-brand-start: 126 112 183;
  --oui-gradient-brand-end: 87 78 149;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 187 118 31;
  --oui-gradient-warning-end: 255 183 77;

  --oui-gradient-neutral-start: 27 24 33;
  --oui-gradient-neutral-end: 38 35 48;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}